.cadastro {
    display: flex;
    width: 1100px;
    height: 260px;
    flex-direction: column;
    background-color: white;
    border: 5px solid brown;
    border-radius: 10px;
    padding: 20px;
    box-sizing: content-box;
}

.cadastro input {
    font-family: 'Bubblegum Sans', cursive;
}

.cadastro .titulo {
    text-align: left;
    color: brown;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cadastro .data-section {
    display: inline-block;
    padding: 5px;
    text-align: left;
    margin-top: 10px;
}

.cadastro .data-section label, .cadastro .data-section input {
    width: 100%;
}

.cadastro .data-section label {
    color: #000000CC;
    margin-left: 3px;
}

.cadastro .data-section input {
    padding: 8px 13px;
    border: 1px solid #00000033;
    border-radius: 3px;
    font-size: 15px;
    outline: none;
}

.cadastro input[type=submit] {
    cursor: pointer;
    margin-top: auto;
    margin-left: auto;
    border: none;
    color: brown;
    background-color: white;
    width: 100px;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 3px;
    border: 1px solid #00000033;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s all;
}

.cadastro input[type=submit]:hover {
    background-color: brown;
    color: white;
}