#galeria {
    position: relative;
    display: inline-block;
    width: 1200px;
    height: 600px;
    border: 5px solid brown;
    border-radius: 5px;
    background-color: white;
    scroll-margin-top: 200px;
    overflow: hidden;
    margin: auto;
}

#galeria .click-message {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    background-color: #00000055;
    z-index: 1;
    text-shadow: 0 0 10px #00000055;
    opacity: 0;

    transition: 0.2s all;
}

#galeria .click-message::after {
    content: 'clique para visualizar';
}

#galeria:hover .click-message {
    opacity: 1;
}

#galeria .button:hover ~ .click-message {
    opacity: 0;
}

#galeria #previous-img, #galeria #current-img {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#galeria img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#galeria img[src="empty"] {
    display: none;
}

#galeria p {
    position: absolute;
    bottom: 100px;
    background-color: #a52a2aFF;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

#galeria .button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid brown;
    border-radius: 3px;
    z-index: 3;

    transition: 0.2s all;
}

#galeria .button::before, #galeria .button::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 20px;
    height: 5px;
    background-color: brown;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

#galeria .button::before {
    top: calc(50% - 6px);
    transform: translate(-50%, -50%) rotate(45deg);
}

#galeria .button::after {
    top: calc(50% + 6px);
    transform: translate(-50%, -50%) rotate(-45deg);
}

#galeria .button:hover {
    background-color: brown;
}

#galeria .button:hover::before, #galeria .button:hover::after {
    background-color: white;
}

#galeria #prev-button {
    left: 50px;
    transform: translateY(-50%) rotate(180deg);
}

#galeria #next-button {
    right: 50px;
    transform: translateY(-50%);
}

@keyframes fade-in {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes fade-out {
    from {
        margin-top: 0%;
    }

    to {
        margin-top: -100%;
    }
}

#galeria .fade-out {
    animation: fade-out 0.5s;
}

#galeria .fade-in {
    animation: fade-in 0.5s;
}